header {
    display: inline-flex;
    justify-content: space-between;

    max-width: 100vw;
    width: 100%;
    background: var(--color-container-background);
    height: 60px;

    border-bottom: 1px solid var(--color-container-background-light);

    padding: 0px 16px;
}

header section {
    display: flex;
    align-items: center;
}

header .logo {
    height: 40px;

    margin-right: 8px;

    cursor: pointer;
}

header .input-box {
    background: var(--color-container-background-light);

    width: 222px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 6px 9px;

    border-radius: 30px;
    cursor: text;
}

header .input-box #search {
    background: none;
    border: none;

    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-primary);
}

header .search-icon {
    color: var(--color-text-primary);
    margin-right: 4px;
}

header .notification {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    background: var(--color-notification-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

header .page-nav {
    display: flex;
    justify-content: space-around;
    position: relative;
}

header .page-nav .notification {
    transform: translate(13px, -10px);
}

header .page-nav .nav-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;

    font-size: 26px;

    padding: 14px 55px;

    background: none;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    overflow: visible;

    transition: background .15s;
}

header .page-nav .nav-page:not(.active) {
    color: var(--color-text-light);
}

header .page-nav .active {
    color: var(--color-primary);
}

header .page-nav .nav-page:not(.active):hover {
    background: var(--color-container-background-light);
}

header .page-nav .active::after {
    content: '';
    display: block;

    position: absolute;
    bottom: -3px;
    left: 0;

    height: 3px;
    width: 100%;
    background: var(--color-primary);
}

header .menu-nav {
    padding-right: 30px;
}

header .menu-nav .notification {
    transform: translate(15px, -15px);
}

header .menu-nav .profile-button {
    height: 35px;
    padding: 1px 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background .15s;

    border-radius: 40px;
}

header .menu-nav .profile-button:hover {
    background: var(--color-container-background-light);
}

header .menu-nav .profile-button img {
    height: 29px;

    margin-right: 8px;

    border-radius: 50%;
}

header .menu-nav .profile-button span {
    color: var(--color-text-light);

    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

    margin-right: 10px;
}

header .menu-nav .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;

    font-size: 18px;
    color: var(--color-text-light);

    margin-left: 8px;

    background: var(--color-container-background-light);
    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: background .15s;
}

header .menu-nav .nav-menu:hover {
    background: var(--color-background-light);
}

header .menu-nav .active {
    color: var(--color-primary);
}